.select-all {
  margin: 5px 17px;
}

.fator {
  color: #94f0fb;
}

.valor-bloco {
  color: #7b61ff;
}

.texto-objeto {
  color: #ffffff;
}

.cabecalho-texto {
  color: #f7457f;
  padding-right: 10px;
}
