<div class="d-flex flex-column">
  <mat-label class="font-color-label">
    <strong>{{label}}</strong>
  </mat-label>
  <mat-form-field>
    <input type="text" matInput [placeholder]="placeHolder" [matAutocomplete]="auto" [formControl]="myControl" [id]="id"
      [name]="name" [(ngModel)]="value" (onKeyUp)="onKeyUp($event)" (keydown)="onKeyDown($event)" [readonly]="disabled" (focus)="onFocus($event)">

    <mat-autocomplete panelWidth="auto" #auto="matAutocomplete" [displayWith]="onDisplayFn.bind(this)"
      (optionSelected)="onSelectMetodo($event)" [disableRipple]="disabled">
      <mat-option *ngFor="let item of filteredOptions | async" [value]="isSelectItem ? item.value : item">{{item[labelInput]}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
