@ons:registry=https://pkgs.dev.azure.com/onsvsts/_packaging/ONS/npm/registry/ 
registry=https://registry.npmjs.org/  
                 
always-auth=true

; begin auth token
//pkgs.dev.azure.com/onsvsts/_packaging/ONS/npm/registry/:username=onsvsts
//pkgs.dev.azure.com/onsvsts/_packaging/ONS/npm/registry/:_password=ZG1jbGVsbjRlY2g1ZGJyaTZjb3hjZ29meHg1YmV3ZHprdzJneHphNnhoNXF3c2x2aTZmYQ==
//pkgs.dev.azure.com/onsvsts/_packaging/ONS/npm/registry/:email=luiz.lanza@amcom.com.br
//pkgs.dev.azure.com/onsvsts/_packaging/ONS/npm/:username=onsvsts
//pkgs.dev.azure.com/onsvsts/_packaging/ONS/npm/:_password=ZG1jbGVsbjRlY2g1ZGJyaTZjb3hjZ29meHg1YmV3ZHprdzJneHphNnhoNXF3c2x2aTZmYQ==
//pkgs.dev.azure.com/onsvsts/_packaging/ONS/npm/:email=luiz.lanza@amcom.com.br
; end auth token