<div class="d-flex flex-column" [ariaReadOnly]="!!isReadOnly">
  <mat-label class="font-color-label">
    <strong>{{label}}</strong>
  </mat-label>
  <mat-form-field>
    <mat-select
      [placeholder]="placeholder"
      (selectionChange)="inputModelChanges()"
      [(ngModel)]="value"
      [formControl]="myControl"
      [disabled]="disabled">
      <mat-option *ngIf="placeholder">{{placeholder}}</mat-option>
      <mat-option *ngFor="let item of selectItens" [value]="labelObject && valueObject ? item[valueObject] : item.value">{{labelObject ? item[labelObject] : item.label}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
