$width-icon-order: 18px;

.resultados {
    padding-top: 10px !important;
}

::ng-deep .EstadoRuim {
    border-color: #D10429;
    border-width: 4px;
}
    

::ng-deep .EstadoAtencao {
    border-color: #FBC90B;
    border-width: 4px;
}

.TEstadoRuim {
    background-color: #D10429;
}

.TEstadoAtencao {
    background-color: #FBC90B;
}

.order-center .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

[mat-sort-header].order-center {
    padding-left: $width-icon-order;
    padding-right: 0px;
}

@mixin order-center-column($width) {
    @if (is-percentage($width)) {
        &.order-center {
            width: calc($width - $width-icon-order);
            min-width: calc($width - $width-icon-order);
            max-width: calc($width - $width-icon-order);
        }
    }

    @else {
        &.order-center {
            width: $width - $width-icon-order;
            min-width: $width - $width-icon-order;
            max-width: $width - $width-icon-order;
        }
    }
}

@mixin column-size-fixed($width, $text-align: left) {
    width: $width;
    min-width: $width;
    max-width: $width;
    text-align: $text-align;
    @include order-center-column($width);
}

.fonte {
    // width: 5%;
    text-align: center;
}

.instalacao {
    // width: 12%;
    text-align: left;
}

.agente {
    // width: 10%;
    text-align: left;
}

.area {
    // width: 15%;
    text-align: left;
}

.conexao {
    // width: 5%;
    text-align: center;
}

.potencia {
    // width: 5%;
    text-align: center;
}

.geracao {
    // @include column-size-fixed(130px, center);

    // ons-input-number {
    //     width: 60%;
    //     text-align: right;
    //     margin-left: 20%;
    // }
}

.limite {
    // width: 6%;
    text-align: center;

    // ons-input-number {
    //     width: 40%;
    //     text-align: right;
    // }
}

.coluna-centro-limite {
    text-align: center;
    padding-right: 45px;

    // ons-input-number {
    //     width: 58%;
    //     text-align: right;
    //     padding-left: 10px;
    // }
}

.sensibilidade {
    // width: 5%;
    text-align: center;
}

.operacao {
    // width: 5%;
    text-align: center;
}

.condicao {
    // width: 5%;
    text-align: center;
}

.motivo {
    // width: 70px !important;
    text-align: center;
}

.reducao-verif {
    // width: 70px !important;
    text-align: center;
}

.opcao {
    width: 50px !important;
    min-width: 50px;
    text-align: center;
}

@mixin order-center-column($width) {
    @if (is-percentage($width)) {
        &.order-center {
            width: calc($width - $width-icon-order);
            min-width: calc($width - $width-icon-order);
            max-width: calc($width - $width-icon-order);
        }
    }

    @else {
        &.order-center {
            width: $width - $width-icon-order;
            min-width: $width - $width-icon-order;
            max-width: $width - $width-icon-order;
        }
    }
}

.icones {
    @include column-size-fixed(14px, right);

    .icones-flag {
        font-size: 14px;
        width: 14px;
        margin-top: 5px;
    }
}

.coluna-icones {
    padding-left: 20px;
}

.icons {
    position: relative;
    top: 5px;
    right: 70px;
    display: inline-flex;
    padding-left: 10px;
}

.auto-width {
    .mat-form-field {
        width: auto !important;
    }

    .mat-select-value {
        max-width: 100%;
        width: auto;
    }
}

ons-input-number {
    width: 70%;
}