$width-icon-order: 18px;

.resultados {
    padding-top: 10px !important;
}

::ng-deep .EstadoRuim {
    border-color: #D10429;
    border-width: 4px;

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #D10429;
        border-width: 4px;
    }
} 

::ng-deep .EstadoAtencao {
    border-color: #FBC90B !important;
    border-width: 4px !important;

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #FBC90B !important;
        border-width: 4px !important;
    }
}

::ng-deep .TEstadoRuim {
    background-color: #D10429;
}

::ng-deep .TEstadoAtencao {
    background-color: #FBC90B;
}

.order-center .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

[mat-sort-header].order-center {
    padding-left: $width-icon-order;
    padding-right: 0px;
}

@mixin order-center-column($width) {
    @if (is-percentage($width)) {
        &.order-center {
            width: calc($width - $width-icon-order);
            min-width: calc($width - $width-icon-order);
            max-width: calc($width - $width-icon-order);
        }
    }

    @else {
        &.order-center {
            width: $width - $width-icon-order;
            min-width: $width - $width-icon-order;
            max-width: $width - $width-icon-order;
        }
    }
}

@mixin column-size-fixed($width, $text-align: left) {
    width: $width;
    min-width: $width;
    max-width: $width;
    text-align: $text-align;
    @include order-center-column($width);
}

.fonte {
    width: 5%;
    text-align: center;
}

.instalacao {
    width: 11%;
    text-align: left;
}

.agente {
    width: 10%;
    text-align: left;
}

.area {
    width: 15%;
    text-align: left;
}

.conexao {
    width: 5%;
    text-align: center;
}

.potencia {
    width: 5%;
    text-align: center;
}

.geracao {
    @include column-size-fixed(135px, center);

    input {
        width: 60%;
        text-align: right;
        margin-left: 20%;
    }
}

.limite {
    width: 5%;
    text-align: center;

    input {
        width: 60%;
        text-align: right;
    }
}

.sensibilidade {
    width: 5%;
    text-align: center;
}

.operacao {
    width: 6%;
    text-align: center;
}

.condicao {
    width: 6%;
    text-align: center;
}

.motivo {
    width: 65px !important;
    text-align: center;
}

.reducao-verif {
    width: 70px !important;
    text-align: center;
}

.opcao {
    width: 50px !important;
    min-width: 50px;
    text-align: center;
}

@mixin order-center-column($width) {
    @if (is-percentage($width)) {
        &.order-center {
            width: calc($width - $width-icon-order);
            min-width: calc($width - $width-icon-order);
            max-width: calc($width - $width-icon-order);
        }
    }

    @else {
        &.order-center {
            width: $width - $width-icon-order;
            min-width: $width - $width-icon-order;
            max-width: $width - $width-icon-order;
        }
    }
}

.icones {
    @include column-size-fixed(14px, right);

    .icones-flag {
        font-size: 14px;
        width: 14px;
        padding-top: 50%;
    }
}

ons-input-number {
    width: 70%;   
}

::ng-deep .mat-tooltip.alinhamento-tooltip-condicao {
    margin-left: 100px;
}

input {
    border-radius: 0.3em;
}