<app-filtro #filtro (pesquisa)="pesquisar($event)" [tipoFiltro]="'CI'"></app-filtro>

<div class="d-grid gap-6">
  <div class="p-2">
    <mat-card>
      <mat-card-content style="min-height: 80px;">
        <app-loading [style.visibility]="!isFinalizado() ? 'visible' : 'hidden'" filterBy="ObterInstalacoes"
          (atualizar)="atualizar($event)"></app-loading>

        <div [style.visibility]="isFinalizado() ? 'visible' : 'hidden'" class="resultados">
          <ng-container class="d-block align-items-center">

            <table matSort mat-table class="table-card" [dataSource]="dataSource">

              <ng-container matColumnDef="Fonte">
                <th class="fonte" mat-header-cell *matHeaderCellDef mat-sort-header>Fonte</th>
                <td class="fonte" mat-cell *matCellDef="let element">{{element.Fonte}}</td>
              </ng-container>

              <ng-container matColumnDef="Nome">
                <th class="instalacao" mat-header-cell *matHeaderCellDef mat-sort-header>Conjunto/Usina</th>
                <td class="instalacao" mat-cell *matCellDef="let element">{{element.Nome}}</td>
              </ng-container>

              <ng-container matColumnDef="Agente">
                <th class="agente" mat-header-cell *matHeaderCellDef mat-sort-header>Agente</th>
                <td class="agente" mat-cell *matCellDef="let element">{{element.Agente}}</td>
              </ng-container>

              <ng-container matColumnDef="Area">
                <th class="area" mat-header-cell *matHeaderCellDef mat-sort-header>Área</th>
                <td class="area" mat-cell *matCellDef="let element">{{element.Area}}</td>
              </ng-container>

              <ng-container matColumnDef="Sigla">
                <th class="sigla" mat-header-cell *matHeaderCellDef mat-sort-header>Sigla</th>
                <td class="sigla" mat-cell *matCellDef="let element">{{element.Sigla}}</td>
              </ng-container>

              <ng-container matColumnDef="Conexao">
                <th class="conexao" mat-header-cell *matHeaderCellDef mat-sort-header>Conexão</th>
                <td class="conexao" mat-cell *matCellDef="let element">{{element.Conexao}}</td>
              </ng-container>

              <ng-container matColumnDef="PotenciaInstalada">
                <th class="potencia colunaCentro" mat-header-cell *matHeaderCellDef mat-sort-header>Potência</th>
                <td class="potencia" mat-cell *matCellDef="let element">{{element.PotenciaInstalada}}</td>
              </ng-container>

              <ng-container matColumnDef="CondicaoOperacao">
                <th class="condicao" mat-header-cell *matHeaderCellDef mat-sort-header>Condição</th>
                <td class="condicao" mat-cell *matCellDef="let element">{{element.CondicaoOperacao}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="fix-thead"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </ng-container>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>