$width-icon-order: 18px;



.order-center .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

[mat-sort-header].order-center {
    padding-left: $width-icon-order;
    padding-right: 0px;
}

@mixin order-center-column($width) {
    @if (is-percentage($width)) {
        &.order-center {
            width: calc($width - $width-icon-order);
            min-width: calc($width - $width-icon-order);
            max-width: calc($width - $width-icon-order);
        }
    }

    @else {
        &.order-center {
            width: $width - $width-icon-order;
            min-width: $width - $width-icon-order;
            max-width: $width - $width-icon-order;
        }
    }
}

.fonte {
    width: 7%;
    text-align: left;
}

.instalacao {
    width: 11%;
    text-align: left;
}

.agente {
    width: 10%;
    text-align: left;
}

.area {
    width: 15%;
    text-align: left;
}

.conexao {
    width: 10%;
    text-align: left;
}

.sigla {
    width: 5%;
    text-align: left;
}

::ng-deep .potencia {
    width: 7%;
    text-align: center;

    .mat-sort-header-container {
        padding-left: 30%;
    }
}

.condicao {
    width: 6%;
    text-align: left;
}
