<app-filtro #filtro [tipoFiltro]="'CI'"></app-filtro>

<div class="p-2">
  <mat-card>
    <mat-card-content>
      <ng-container class="d-block align-items-center">
        <table class="table-card">
          <thead>
          <tr>
            <th><strong class="font-color-label align-items-center">Fonte</strong></th>
            <th><strong class="font-color-label align-items-center">Conjunto/Usina</strong></th>
            <th><strong class="font-color-label align-items-center">Agente</strong></th>
            <th><strong class="font-color-label align-items-center">Área</strong></th>
            <th><strong class="font-color-label align-items-center">Sigla</strong></th>
            <th><strong class="font-color-label align-items-center">Conexão</strong></th>
            <th><strong class="font-color-label align-items-center">Potência</strong></th>
            <th><strong class="font-color-label align-items-center">Condição</strong></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let instalacaoModel of instalacaoModelList ">
            <td>
              {{instalacaoModel.TipoInstalacao.Nome}}
            </td>
            <td>
              {{instalacaoModel.NomeInstalacao}}
            </td>
            <td>
              {{instalacaoModel.Agente}}
            </td>
            <td>
              {{instalacaoModel.Area}}
            </td>
            <td>
              {{instalacaoModel.SiglaConexao}}
            </td>
            <td>
              {{instalacaoModel.PontoConexao}}
            </td>
            <td>
              {{instalacaoModel.PotenciaInstalada}}
            </td>
            <td>
              {{instalacaoModel.NomeCondicaoOperacao}}
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </mat-card-content>
  </mat-card>


</div>
