<div class="d-flex flex-column">
  <mat-label class="font-color-label">
    <strong>{{label}}</strong>
  </mat-label>
  <mat-form-field>
    <mat-chip-list #matChipList [multiple]="false">
      <mat-chip *ngFor="let item of retornosFiltro" (removed)="removerItem(item)">
        <span *ngIf="item.fonte">
          <img style="width: 15px;"
            src="assets/{{item?.fonte?.Gif}}" />
        </span>
        <span>
          {{item.Descricao}}
        </span>
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input type="text" #matInput [formControl]="matControl"
        [matAutocomplete]="matAutoComplete" [matChipInputFor]="matChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        />
    </mat-chip-list>
    <mat-autocomplete #matAutoComplete="matAutocomplete" (closed)="fecharAutocomplete()"
      (optionSelected)="selecionarItem($event.option.value)">
      <mat-option *ngFor="let item of matFilteredOptions | async" [value]="item">
        <div *ngIf="multiselecao">
          <mat-checkbox [checked]="isItemSelecionado(item)"
            (change)="selecionarItem(item)"
            (click)="$event.stopPropagation()">
            <span *ngIf="item.fonte">
              <img style="width: 15px;"
                src="assets/{{item?.fonte?.Gif}}" />
            </span>
            <span>
              {{item.Descricao}}
            </span>
          </mat-checkbox>
        </div>
        <span *ngIf="!multiselecao">
          {{item.Descricao}}
        </span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>