.ocultar {
    display: none;
}

.espacos {
    flex: 1;
    // margin-right: 20px;
    width: 8.5%;
    // border-style: solid;
    // border-color: #A9A9A9;
    // padding: 1.2em;
    height: 100%;
    display: inline-block;
}