
.botoes {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1%;

    button {
        margin-right: 1px;
        display: block;
        white-space: nowrap;
        width: auto;
    }
}

::ng-deep button.button-loading {
    mat-spinner {
        margin: 3px 5px;

        circle {
            stroke: white;
        }
    }
}

button.button-loading {
    &.in-loading {
        cursor: wait;
    }

    &.button-loading-with-text {
        ::ng-deep mat-spinner {
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;

            circle {
                stroke: white;
            }
        }
    }
}