.mat-tab-group {
    // margin-bottom: 48px;
    top: 0 !important;
    z-index: 1000 !important;
    position: sticky !important;
    // background-color: #DCDCDC !important;
}

// .mat-tab-list {
//     left: 25%;
// }

// ::ng-deep .mat-tab-list .mat-ink-bar {
//     width: 50% !important;
// }

::ng-deep .mat-tab-labels .mat-tab-label {
    // background-color: rgb(159 184 214) !important;
}