.panel-left{
  width: 50%;
  display: inline-block;
  text-align: left;
}

.panel-right{
  width: 50%;
  display: inline-block;
  text-align: right;

}

.selecao {
  display: inline-flex;
  margin-top: 5px;
  flex-direction: row;
  margin-left: 5px;
  align-items: center;

  mat-form-field-infix {
    width: 250px;
  }
}


.versao {
  display: inline-flex;
  margin-top: 5px;
  flex-direction: row;
  margin-left: 5px;
  align-items: end;
  font-weight: bold;
}


.otimizarEspacos2 {
  .mat-form-field-infix {
    border-top: 0px;
  }
}

.topo {
  margin-top: 5px;
}
